[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/writegood.vim"]
	path = vim/bundle/writegood.vim
	url = git@github.com:davidbeckingsale/writegood.vim.git
[submodule "vim/bundle/screen"]
	path = vim/bundle/screen
	url = git@github.com:ervandew/screen.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = git@github.com:vim-scripts/Align.git
[submodule "vim/bundle/LaTeX-Box"]
	path = vim/bundle/LaTeX-Box
	url = git@github.com:LaTeX-Box-Team/LaTeX-Box.git
[submodule "vim/bundle/ScrollColors"]
	path = vim/bundle/ScrollColors
	url = git@github.com:vim-scripts/ScrollColors.git
[submodule "vim/bundle/YankRing.vim"]
	path = vim/bundle/YankRing.vim
	url = git@github.com:vim-scripts/YankRing.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/julia-vim"]
	path = vim/bundle/julia-vim
	url = git@github.com:JuliaLang/julia-vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = git@github.com:MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = git@github.com:vim-pandoc/vim-pandoc.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git@github.com:Lokaltog/vim-powerline.git
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "vim/bundle/vim-startify"]
	path = vim/bundle/vim-startify
	url = git@github.com:mhinz/vim-startify.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = git@github.com:michaeljsmith/vim-indent-object.git
[submodule "vim/bundle/vim-multiple-cursors"]
	path = vim/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
