[submodule "vim/bundle/writegood.vim"]
	path = vim/bundle/writegood.vim
	url = git@github.com:davidbeckingsale/writegood.vim.git
  ignore = dirty
[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = git@github.com:vim-scripts/Align.git
  ignore = dirty
[submodule "vim/bundle/LaTeX-Box"]
	path = vim/bundle/LaTeX-Box
	url = git@github.com:LaTeX-Box-Team/LaTeX-Box.git
  ignore = dirty
[submodule "vim/bundle/ScrollColors"]
	path = vim/bundle/ScrollColors
	url = git@github.com:vim-scripts/ScrollColors.git
  ignore = dirty
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
  ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
  ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/vim-obsession"]
	path = vim/bundle/vim-obsession
	url = git@github.com:tpope/vim-obsession.git
  ignore = dirty
[submodule "vim/bundle/vim-R-plugin"]
	path = vim/bundle/vim-R-plugin
	url = git@github.com:vim-scripts/Vim-R-plugin.git
  ignore = dirty
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:seananderson/oh-my-zsh.git
  ignore = dirty
[submodule "vim/bundle/base16-vim"]
	path = vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
  ignore = dirty
[submodule "vim/bundle/goyo.vim"]
	path = vim/bundle/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
  ignore = dirty
[submodule "vim/bundle/lightline.vim"]
	path = vim/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-litecorrect"]
	path = vim/bundle/vim-litecorrect
	url = git@github.com:reedes/vim-litecorrect.git
  ignore = dirty
[submodule "vim/bundle/vim-pandoc-syntax"]
	path = vim/bundle/vim-pandoc-syntax
	url = git@github.com:vim-pandoc/vim-pandoc-syntax.git
  ignore = dirty
[submodule "vim/bundle/vim-stan"]
	path = vim/bundle/vim-stan
	url = git@github.com:mja/vim-stan.git
  ignore = dirty
[submodule "vim/bundle/vim-wordy"]
	path = vim/bundle/vim-wordy
	url = git@github.com:reedes/vim-wordy.git
  ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = git@github.com:vim-pandoc/vim-pandoc.git
